aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    padding: 15px;
    width: 70%;
}

@media(max-width: 576px) {
    aside.logo img {
        width: 150px;
    }
}