aside.menu-area {
    background-color: var(--bg-dark);
    overflow: hidden;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    padding: 10px;
    /* float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; */
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

@media(max-width: 768px) {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .menu a {
        display: inline;
        margin: 0px;
        padding-right: 6px;
    }
    .menu {
        height: 60%;
        justify-content: space-around;
    }
}

/* 
.vl {
    border-left: 6px  #fff;
    height: 500px;
  } */