aside.menu-area {
    background-color: var(--bg-dark);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    padding: 10px;
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

@media(max-width: 768px) {
    aside.menu-area {
        overflow-x: auto;
        overflow-y: hidden;
    }
    .menu {
        display: flex;
        justify-content: space-around;
        overflow-x: auto;
        /* align-items: center; */
    }
    .menu a {
        display: inline;
        padding-right: 6px;
    }
}